{% extends 'layout/base.html' %}

{% block title %} Giỏ hàng {% endblock %}

{% block content %}
    {% if err_msg %}
        <div class="alert alert-danger" id="thongbao">
        </div>
    {% endif %}
   <h1 class="text-center text-info">Giỏ hàng</h1>
<!--    session là biến toàn cục-->
    {% if 'cart' in session and session['cart'] %}
        <table class="table">
            <tr>
                <th>Mã sản phẩm</th>
                 <th>Tên sản phẩm</th>
                 <th>Đơn giá</th>
                 <th>Số lượng</th>
                <th>action</th>
            </tr>
            {% for c in session['cart'].values() %}
                <tr id="product{{ c.id }}">
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td><span class="price_pro"> {{"{:,.0f}".format(c.price)}}</span> VNĐ</td>
<!--                    {{"{:,.1f}".format(c.price)}}-->
                    <td>
                        <div class="form-goup">
                            <input type="number" min="1" value="{{c.quantity}}" class="form-control" onblur="updateCart({{c.id}}, this)" tab-index="-1" aria-hidden="true"/>
                        </div>
                    </td>
                    <td>
                        <input class="btn btn-outline-danger" value="Xóa" type="button" onclick="deleteCart({{c.id}})" />
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if stats %}
            <div class="alert alert-info">
                <h4> Tổng sản phẩm: <span class="countCart">{{stats.total_quantity}}</span></h4>
                <h4> Tổng tiền: <span id="total_amount">{{"{:,.1f}".format(stats.total_amount)}}</span> VNĐ</h4>

            </div>
        {% endif %}

        <div class="d-flex justify-content-end">
            {% if current_user.is_authenticated %}
            <input type="button" value="Thanh toán" class="btn btn-info " onclick="pay()"/>
            {% else %}
                <a href="{{ url_for('user_login',next='cart')}}" class="text-danger">Đăng nhập để thanh toán....</a>
            {% endif %}

        </div>



    {% else %}
        <p>Không có sản phẩm</p>
    {% endif %}
<br><br>
{% endblock %}